[Unit]
Description=Load EDID into Magewell card inputs

[Service]
Type=oneshot
ExecStart=/usr/local/bin/magewellpro2ts -i 1 -w /home/mythtv/etc/EDID/Magewell-1080p-Default+Atmos.bin
ExecStart=/usr/local/bin/magewellpro2ts -i 2 -w /home/mythtv/etc/EDID/Magewell-1080p-Default+Atmos.bin
ExecStart=/usr/local/bin/magewellpro2ts -i 3 -w /home/mythtv/etc/EDID/Magewell-1080p-Default+Atmos.bin
ExecStart=/usr/local/bin/magewellpro2ts -i 4 -w /home/mythtv/etc/EDID/Magewell-1080p-Default+Atmos.bin
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target